USE [master]
GO
/****** Object:  Database [Assignment]    Script Date: 7/17/2022 12:11:47 AM ******/
CREATE DATABASE [Assignment]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Assignment', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Assignment.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Assignment_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Assignment_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Assignment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Assignment]
GO
/****** Object:  Table [dbo].[Campus]    Script Date: 7/17/2022 12:11:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Campus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 7/17/2022 12:11:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[code] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 7/17/2022 12:11:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[csid] [int] NULL,
	[iid] [int] NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructor]    Script Date: 7/17/2022 12:11:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[displayName] [nvarchar](100) NOT NULL,
	[cid] [int] NOT NULL,
	[code] [nvarchar](50) NULL,
	[imageUrl] [varchar](100) NULL,
 CONSTRAINT [PK_Instructor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lession]    Script Date: 7/17/2022 12:11:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lession](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[gid] [int] NOT NULL,
	[iid] [int] NOT NULL,
	[tid] [int] NOT NULL,
	[rid] [int] NOT NULL,
	[date] [date] NOT NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_Lession] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 7/17/2022 12:11:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 7/17/2022 12:11:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[displayName] [nvarchar](100) NOT NULL,
	[cid] [int] NOT NULL,
	[code] [varchar](50) NULL,
	[imageUrl] [varchar](100) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student_Group]    Script Date: 7/17/2022 12:11:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Group](
	[suid] [int] NOT NULL,
	[gid] [int] NOT NULL,
 CONSTRAINT [PK_Student_Group] PRIMARY KEY CLUSTERED 
(
	[suid] ASC,
	[gid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student_Lession]    Script Date: 7/17/2022 12:11:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Lession](
	[suid] [int] NOT NULL,
	[lid] [int] NOT NULL,
	[status] [varchar](50) NOT NULL,
	[recordtime] [datetime] NULL,
	[comment] [nvarchar](4000) NULL,
 CONSTRAINT [PK_Student_Lession] PRIMARY KEY CLUSTERED 
(
	[suid] ASC,
	[lid] ASC,
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlot]    Script Date: 7/17/2022 12:11:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlot](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[start] [varchar](50) NOT NULL,
	[end] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TimeSlot] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Campus] ON 

INSERT [dbo].[Campus] ([id], [name]) VALUES (1, N'FU Hòa Lạc')
INSERT [dbo].[Campus] ([id], [name]) VALUES (2, N'FU Đà Nẵng')
INSERT [dbo].[Campus] ([id], [name]) VALUES (3, N'FU Hồ Chí Minh')
SET IDENTITY_INSERT [dbo].[Campus] OFF
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([id], [name], [code]) VALUES (1, N'Data Structures and Algorithms', N'CSD201')
INSERT [dbo].[Course] ([id], [name], [code]) VALUES (2, N'Data Structures and Algorithm with Python ', N'CSD203')
INSERT [dbo].[Course] ([id], [name], [code]) VALUES (3, N'Introduction to Databases ', N'DBI202')
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
SET IDENTITY_INSERT [dbo].[Group] ON 

INSERT [dbo].[Group] ([id], [name], [csid], [iid]) VALUES (1, N'SE1601', 3, 1)
INSERT [dbo].[Group] ([id], [name], [csid], [iid]) VALUES (2, N'SE1602', 12, 1)
INSERT [dbo].[Group] ([id], [name], [csid], [iid]) VALUES (3, N'SE1603', 3, 1)
SET IDENTITY_INSERT [dbo].[Group] OFF
GO
SET IDENTITY_INSERT [dbo].[Instructor] ON 

INSERT [dbo].[Instructor] ([id], [email], [password], [displayName], [cid], [code], [imageUrl]) VALUES (1, N'sonnt5@fe.edu.vn', N'123', N'Ngo Tung Son', 1, N'sonnt5', NULL)
INSERT [dbo].[Instructor] ([id], [email], [password], [displayName], [cid], [code], [imageUrl]) VALUES (2, N'hailt@fe.edu.vn', N'12345', N'Le Thanh Hai', 1, N'hailt', NULL)
INSERT [dbo].[Instructor] ([id], [email], [password], [displayName], [cid], [code], [imageUrl]) VALUES (3, N'tuanvm2@fe.edu.vn', N'123', N'Vuong Minh Tuan', 1, N'tuanvm2', NULL)
SET IDENTITY_INSERT [dbo].[Instructor] OFF
GO
SET IDENTITY_INSERT [dbo].[Lession] ON 

INSERT [dbo].[Lession] ([id], [gid], [iid], [tid], [rid], [date], [status]) VALUES (1, 1, 1, 1, 1, CAST(N'2022-06-06' AS Date), 1)
INSERT [dbo].[Lession] ([id], [gid], [iid], [tid], [rid], [date], [status]) VALUES (2, 1, 1, 2, 1, CAST(N'2022-06-06' AS Date), 1)
INSERT [dbo].[Lession] ([id], [gid], [iid], [tid], [rid], [date], [status]) VALUES (3, 2, 1, 3, 1, CAST(N'2022-06-06' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Lession] OFF
GO
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([id], [name]) VALUES (1, N'DE-201')
INSERT [dbo].[Room] ([id], [name]) VALUES (2, N'DE-202')
INSERT [dbo].[Room] ([id], [name]) VALUES (3, N'DE-210')
SET IDENTITY_INSERT [dbo].[Room] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([id], [email], [password], [displayName], [cid], [code], [imageUrl]) VALUES (1, N'tuyennvhe150819@fpt.edu.vn', N'12345', N'Nguyen Tuyen', 1, N'HE150819', N'HE150819.jpg')
INSERT [dbo].[Student] ([id], [email], [password], [displayName], [cid], [code], [imageUrl]) VALUES (2, N'datndhe163390@fpt.edu.vn', N'12345', N'Nguyen Doan Dat', 1, N'HE163390', N'HE163390.jpg')
INSERT [dbo].[Student] ([id], [email], [password], [displayName], [cid], [code], [imageUrl]) VALUES (3, N'hoangtthhe153437@fpt.edu.vn', N'12345', N'Tran Trung Huy Hoang', 1, N'HE153437', N'HE153437.jpg')
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
INSERT [dbo].[Student_Group] ([suid], [gid]) VALUES (1, 1)
INSERT [dbo].[Student_Group] ([suid], [gid]) VALUES (2, 1)
INSERT [dbo].[Student_Group] ([suid], [gid]) VALUES (3, 1)
GO
INSERT [dbo].[Student_Lession] ([suid], [lid], [status], [recordtime], [comment]) VALUES (1, 1, N'present', CAST(N'2022-07-06T03:11:10.337' AS DateTime), N'tot')
INSERT [dbo].[Student_Lession] ([suid], [lid], [status], [recordtime], [comment]) VALUES (1, 2, N'present', CAST(N'2022-07-06T03:11:37.153' AS DateTime), N'rat tot')
INSERT [dbo].[Student_Lession] ([suid], [lid], [status], [recordtime], [comment]) VALUES (1, 16, N'present', CAST(N'2022-07-10T23:25:06.967' AS DateTime), N'')
GO
SET IDENTITY_INSERT [dbo].[TimeSlot] ON 

INSERT [dbo].[TimeSlot] ([id], [name], [start], [end]) VALUES (1, N'Slot 1', N'7:30 AM', N'9:00 AM')
INSERT [dbo].[TimeSlot] ([id], [name], [start], [end]) VALUES (2, N'Slot 2', N'9:10 AM', N'10:40 AM')
INSERT [dbo].[TimeSlot] ([id], [name], [start], [end]) VALUES (3, N'Slot 3', N'10:50 PM', N'12:20 PM')
SET IDENTITY_INSERT [dbo].[TimeSlot] OFF
GO
ALTER TABLE [dbo].[Student_Lession] ADD  CONSTRAINT [DF_Student_Lession_recordtime]  DEFAULT (getdate()) FOR [recordtime]
GO
ALTER TABLE [dbo].[Group]  WITH CHECK ADD  CONSTRAINT [FK_Group_Course] FOREIGN KEY([csid])
REFERENCES [dbo].[Course] ([id])
GO
ALTER TABLE [dbo].[Group] CHECK CONSTRAINT [FK_Group_Course]
GO
ALTER TABLE [dbo].[Group]  WITH CHECK ADD  CONSTRAINT [FK_Group_Instructor] FOREIGN KEY([iid])
REFERENCES [dbo].[Instructor] ([id])
GO
ALTER TABLE [dbo].[Group] CHECK CONSTRAINT [FK_Group_Instructor]
GO
ALTER TABLE [dbo].[Instructor]  WITH CHECK ADD  CONSTRAINT [FK_Instructor_Campus] FOREIGN KEY([cid])
REFERENCES [dbo].[Campus] ([id])
GO
ALTER TABLE [dbo].[Instructor] CHECK CONSTRAINT [FK_Instructor_Campus]
GO
ALTER TABLE [dbo].[Lession]  WITH CHECK ADD  CONSTRAINT [FK_Lession_Group] FOREIGN KEY([gid])
REFERENCES [dbo].[Group] ([id])
GO
ALTER TABLE [dbo].[Lession] CHECK CONSTRAINT [FK_Lession_Group]
GO
ALTER TABLE [dbo].[Lession]  WITH CHECK ADD  CONSTRAINT [FK_Lession_Room] FOREIGN KEY([rid])
REFERENCES [dbo].[Room] ([id])
GO
ALTER TABLE [dbo].[Lession] CHECK CONSTRAINT [FK_Lession_Room]
GO
ALTER TABLE [dbo].[Lession]  WITH CHECK ADD  CONSTRAINT [FK_Lession_TimeSlot] FOREIGN KEY([tid])
REFERENCES [dbo].[TimeSlot] ([id])
GO
ALTER TABLE [dbo].[Lession] CHECK CONSTRAINT [FK_Lession_TimeSlot]
GO
ALTER TABLE [dbo].[Student_Group]  WITH CHECK ADD  CONSTRAINT [FK_Student_Group_Group] FOREIGN KEY([gid])
REFERENCES [dbo].[Group] ([id])
GO
ALTER TABLE [dbo].[Student_Group] CHECK CONSTRAINT [FK_Student_Group_Group]
GO
ALTER TABLE [dbo].[Student_Group]  WITH CHECK ADD  CONSTRAINT [FK_Student_Group_Student] FOREIGN KEY([suid])
REFERENCES [dbo].[Student] ([id])
GO
ALTER TABLE [dbo].[Student_Group] CHECK CONSTRAINT [FK_Student_Group_Student]
GO
ALTER TABLE [dbo].[Student_Lession]  WITH CHECK ADD  CONSTRAINT [FK_Student_Lession_Lession] FOREIGN KEY([lid])
REFERENCES [dbo].[Lession] ([id])
GO
ALTER TABLE [dbo].[Student_Lession] CHECK CONSTRAINT [FK_Student_Lession_Lession]
GO
ALTER TABLE [dbo].[Student_Lession]  WITH CHECK ADD  CONSTRAINT [FK_Student_Lession_Student] FOREIGN KEY([suid])
REFERENCES [dbo].[Student] ([id])
GO
ALTER TABLE [dbo].[Student_Lession] CHECK CONSTRAINT [FK_Student_Lession_Student]
GO
USE [master]
GO
